<div *ngIf="orders$ | async  as orders">
    <!-- <pre>{{ orders | json }}</pre> -->
    <h2>My Orders</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.shipping.name }}</td>
                <td>{{ order.datePlaced | date}}</td>
                <td><a routerLink="/order-success/{{order.key}}">view</a></td>
            </tr>
        </tbody>
    </table>
</div>
