<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      Cafe Green <i class="fa fa-pagelines text-success" aria-hidden="true"></i>
    </a>
    <button (click)="isMenuCollapsed = !isMenuCollapsed" class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

        

      </ul>

      <ul class="navbar-nav">

        <li class="nav-item">
          <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="/shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span *ngIf="cart$ | async as cart" class="badge badge-warning badge-pill">{{ cart.totalItemsCount }}</span>
            <!-- <pre> {{ cart$ | json}}</pre> -->
          </a>
        </li>

        <ng-template #anonymousUser>
          <li class="nav-item">
            <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="/login">Login</a>
          </li>
        </ng-template>

        <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle pointer" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">{{appUser.name }}</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
            <a (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/my/orders">My Orders</a>

            <ng-container *ngIf="appUser.isAdmin">
              <a (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
              <a (click)="isMenuCollapsed = true" class="dropdown-item" routerLink="/admin/products">Manage Products</a>
            </ng-container>

            <a (click)="isMenuCollapsed = true" class="dropdown-item pointer" (click)="logout()">Log Out</a>
          </div>
        </li>

      </ul>
    </div>
  </div>

</nav>