/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    padding-top: 80px;
}

.pointer{
    cursor: pointer;
}

pre {
    background-color: rgb(240, 237, 237);
    padding: 8px;
    border-radius: 10px;
}